.login-container {
	display: flex;
	flex-basis: 30%;
}

.login-fieldset {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: stretch;
}

.login-podnaslov {
    font-size: 24px;
    text-align: center;
}

.login-forma {
    display: flex;
    flex-direction: column;
}

.login-forma .p-float-label {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

@media only screen and (max-width: 1000px) {
	.login-container {
        flex-basis: 100%;
		margin: 5px;
    }
}